@import 'bulma/css/bulma.css';

@font-face {
  font-family: 'SMD';
  src: url('./fonts/StickyMemosDemo.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Regular.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('./fonts/Lato-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

h2 {
  font-family: 'Lato-Bold';
  font-size: 20px;
  padding-right: 12px;
}

.page-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100vw;
  grid-template-areas:
    "header header"
    "nav content"
    "nav content";
}

.header {
  font-family: 'SMD';
  font-size: 40px;
  background-color: rgb(64, 112, 92);
  color: white;
  grid-area: header;
  padding: 0px 24px;
}

.sidebar {
  background-color: rgb(218, 240, 232);
  grid-area: nav;
  max-width: 25vw;
  padding: 12px 24px;
}

.project-item {
  background: none;
  border: none;
}

.project-item:hover {
  cursor: pointer;
}

.content-container {
  grid-area: content;
  padding: 12px 24px;
}

.content-header {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding-bottom: 12px;
}

.add-button {
  color: rgb(92, 154, 128);
  font-size: 24px;
}

.add-button:hover {
  cursor: pointer;
  opacity: 75%;
}

.edit-delete-btns {
  padding-left: 24px;
  margin-left: auto;
  flex-shrink: 0;
}

.image-link:hover {
  cursor: pointer;
}

.active {
  color: rgb(92, 154, 128);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(92, 154, 128);
  width: 50%;
  border-radius: 4px;
}

.form-item {
  margin-bottom: 12px;
}

.button {
  font-size: 0.75rem;
  border-radius: 4px;
  background-color: rgb(92, 154, 128);
  color: white;
  border-color: rgb(92, 154, 128);
}

.button:hover {
  border-color:rgb(92, 154, 128);
  color:white;
  opacity: 75%;
}

#new-todo-button {
  display: none;
}

button:hover {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.complete-checkbox {
  padding-right: 12px;
}

.box {
  padding: 10px 20px;
}

.box:not(:last-child) {
  margin-bottom: 12px;
}

.todo-item {
  display: flex;
}

.todo-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.todo-title-desc {
  display: flex;
  flex-direction: column;
}

.todo-date-priority {
  margin-left: 1px;
}

